<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Клієнтська сторінка</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Клієнтська сторінка</h1>
  <nav>
    <a href="/addPersonnel">Додати військовослужбовця</a>
    <a href="/editPersonnel">Редагувати військовослужбовця</a>
  </nav>
</body>
</html>
